/*

  Really high-level styles for the html, body and :root here.
  
*/

%focus {
  outline: none;
  box-shadow: 0 0 0 2px $c-yellow-l1 !important;
}

.#{$app} {
  @extend %pb-4;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  background: $c-base;
  
  *:focus {
    @extend %focus;
  }
}
