.ratio {
  position: relative;
  display: inline-block;

  &__canvas {
    visibility: hidden;
    display: block;
    width: 100%;

    &--height {
      width: auto;
      height: 100%;
    }
  }

  &__subject {
    @include absolute-fill;
  }
}
