/*

  Showing and hding elements.

  We usually end up creating variations of these for different transitions (you can't fade the visible: property, for example).

*/

@mixin bury {
  position: absolute;
  z-index: -99;
  opacity: 0;
  pointer-events: none;
}

.#{$app} {

  .bury {
    @include bury;
    display: block !important; // this
  }

}
